@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

* {
    font-family: 'Poppins', sans-serif;

}

img {
    height: 40px;
    width: 40px;
}

.nav-link {
    font-family: 'Permanent Marker', cursive;
    font-size: 2rem;
    padding: 0;
}

.header1 {
    background-color: #98e6d6;
}

.form1 {
    background-color: #cfeee8;
}

.header2 {
    background-color: rgb(140, 174, 236);
}

.form2 {
    background-color: rgb(182, 203, 243);
}